<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if (user()) {
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="active" class="nav-link">Matches</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lists" routerLinkActive="active" class="nav-link">List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
                </li>
            }
            <li class="nav-item">
                <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a>
            </li>
        </ul>

        @if (user()) {
        <div dropdown class="dropdown">
            <img class="me-2" [src]="user()?.photoUrl || 'user.png' " alt="user main image">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome, 
                {{user()?.username | titlecase}}</a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item" routerLink="/members/edit">Edit profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        }
        @if (!user()) {
        <form class="d-flex" (ngSubmit)="login()">
            <input class="form-control me-2" name="username" [(ngModel)]="model.username" type="text"
                placeholder="Username" />
            <input class="form-control me-2" name="password" [(ngModel)]="model.password" type="text"
                placeholder="Password" type="password" />
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
        }
    </div>
</nav>